@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

:root {
    --body-height: 18px;
    --header-height: 24px;
    --smaller-height: 16px;

    --font:'Josefin Sans', sans-serif;
    --font-regular: 300;
    --font-bold: 600;

    --dt-light-grayish-blue-hover: hsl(236, 33%, 92%);

    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /*Light Theme*/
    --lt-very-light-gray: hsl(0, 0%, 98%);
    --lt-very-light-grayish-blue: hsl(236, 33%, 92%);
    --lt-light-grayish-blue: hsl(233, 11%, 84%);
    --lt-dark-grayish-blue: hsl(236, 9%, 61%);
    --lt-very-dark-grayish-blue: hsl(235, 19%, 35%);
    /*Dark Theme*/
    --dt-very-dark-blue: hsl(235, 21%, 11%);
    --dt-light-grayish-blue: hsl(234, 39%, 85%);
    --dt-very-light-grayish-blue: hsl(236, 33%, 92%);
    --dt-dark-grayish-blue: hsl(234, 11%, 52%);
    --dt-very-dark-grayish-blue: hsl(237, 14%, 26%);
    --dt-very-dark-desaturated-blue: hsl(235, 24%, 19%);
}

[data-theme="light"] {
    --header-color: var(--lt-very-light-gray);
    --very-light-grayish-blue: var(--lt-dark-grayish-blue);
    --font-color: var(--dt-very-dark-blue);
    --hover-color: var(--dt-very-dark-blue);
    --container-background: white;
    --checkbox-border: var(--dt-dark-grayish-blue);
    --grayed-color: var(--lt-very-dark-grayish-blue);
    --background: var(--dt-very-light-grayish-blue);
}

[data-theme="dark"] {
    --hover-color: var(--lt-very-light-gray);
    --very-light-grayish-blue: var(--lt-dark-grayish-blue);
    --font-color: var(--lt-very-light-grayish-blue);
    --container-background: var(--dt-very-dark-desaturated-blue);
    --checkbox-border: var(--dt-dark-grayish-blue);
    --grayed-color: var(--lt-very-dark-grayish-blue);
    --header-color: var(--lt-very-light-gray);
    --background: var(--dt-very-dark-blue);
}

body {
    font-family: var(--font);
    font-size: var(--body-height);
    font-weight: var(--font-regular);
    color: var(--font-color);
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: .25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 100vw;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--hover-color) var(--container-background);
        scrollbar-width: thin;
    }
}

h1, h2, h3, h4 {
    font-weight: var(--font-bold);
    font-size: var(--header-height);
    color: var(--header-color);
}

p {
    color: var(--font-color);
    font-family: var(--font);
    font-size: var(--body-height);
    font-weight: var(--font-bold);
}

button {
    font-family: var(--font);
    font-size: var(--body-height);
    font-weight: var(--font-regular);
    color: var(--font-color);
    background: transparent;
    border: none;
    cursor: pointer;
}

* {
    margin: 0;
}

.main {
    height:100vh;
    width: 100vw;
    background: var(--background);
}

.logo {
    position: absolute;
    background-image: url("src/assets/images/logo-06.png");
    height: 208px;
    width: 312px;
    background-size: cover;
    background-position: center;
    left: 50vw;
    top: 0;
    transform: translateX(-50%);
    z-index: 4;
}

.background-img {
    width: 100%;
}

.body {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-container {
    width: 600px;
    height: 60%;
}

.container {
    padding: 1rem;
    background: var(--container-background);
    -webkit-box-shadow: 0 8px 12px -12px black;
    -moz-box-shadow: 0 8px 12px -12px black;
    box-shadow: 0 8px 12px -12px black;
}

.box {
    padding: 1rem 0;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    letter-spacing: 9px;
}

.create {
    display: flex;
    align-items: center;
}

.create .checkbox {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 100vw;
    border: 1px solid var(--checkbox-border);
    margin-right: 2.5rem;
}

.create .input {
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    height: 2rem;
    color: var(--font-color);
    padding: 0 .5rem;
}

.create .input:hover {
    border: 1px solid var(--dt-very-dark-grayish-blue);
    border-radius: 0.5rem;
}

.todos {
    background: var(--container-background);
    border-radius: 0.25rem;
}

.todos .list {
    max-height: 45vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.todos .list .todo, .todos .list .completed {
    display: flex;
    align-items: center;
}

.todos .list .todo .checkbox {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 100vw;
    border: 1px solid var(--checkbox-border);
    margin-right: 2.5rem;
}

.todos .list .completed .checkbox {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: none;
    border-radius: 100vw;
    background-image: var(--check-background);
    margin-right: 2.5rem;
}

.todos .list .completed .text {
    text-decoration: line-through;
    color: var(--dt-very-dark-grayish-blue);
}

.todos .list .delete-todo {
    margin-left: auto;
    margin-right: 1rem;
    display: none;
}

.todos .list .todo:hover .delete-todo, .todos .list .completed:hover .delete-todo {
    display: block;
}

.todos .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos .footer > *, .todos .footer .footer-toes > *{
    color: var(--grayed-color);
    font-weight: var(--font-bold);
    font-size: var(--smaller-height);
}

.todos .footer > *:hover, .todos .footer .footer-toes > *:hover {
    color: var(--hover-color);
}

.todos .footer .display-select button {
    padding: 0 1rem;
}

.create {
    border-radius: 0.25rem;
    margin-bottom: 25px;
    color: var(--dt-very-dark-grayish-blue);
}

.CI-link {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

a {
    color: hsl(200, 73%, 61%);
}
