@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

:root {
    --body-height: 18px;
    --header-height: 24px;

    --font:'Josefin Sans', sans-serif;
    --font-regular: 300;
    --font-bold: 600;
    /*Light Theme*/
    --lt-very-light-gray: hsl(0, 0%, 98%);
    --lt-very-light-grayish-blue: hsl(236, 33%, 92%);
    --lt-light-grayish-blue: hsl(233, 11%, 84%);
    --lt-dark-grayish-blue: hsl(236, 9%, 61%);
    --lt-very-dark-grayish-blue: hsl(235, 19%, 35%);
    /*Dark Theme*/
    --dt-very-dark-blue: hsl(235, 21%, 11%);
    --dt-very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --dt-light-grayish-blue: hsl(234, 39%, 85%);
    --dt-light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dt-dark-grayish-blue: hsl(234, 11%, 52%);
    --dt-very-dark-grayish-blue: hsl(233, 14%, 35%);
    --dt-very-dark-grayish-blue: hsl(237, 14%, 26%);

    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

body {
    font-family: var(--font);
    font-size: var(--body-height);
    font-weight: var(--font-regular);
}

h1, h2, h3, h4 {
    font-weight: var(--font-bold);
    font-size: var(--header-height);
    color: var(--dt-light-grayish-blue);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

* {
    margin: 0;
}

.main {
    height:100vh;
    width: 100vw;
    background: #181824;
}

.background-img {
    width: 100%;
}

.body {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-container {
    width: 600px;
}

.container {
    padding: 1rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.todos {
    background: var(--dt-very-dark-desaturated-blue);
    border-radius: 0.25rem;
}

.todos .todo {
    display: flex;
    align-items: center;
}

.todos .todo .checkbox {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: none;
    border-radius: 100vw;
    background-image: var(--check-background);
    margin-right: 2.5rem;
}

.todos .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos .footer .display-select {
    display: flex;
    justify-content: space-between;
}

.todos .footer .display-select button {
    padding: 0 1rem;
}

.create {
    background: var(--dt-very-dark-desaturated-blue);
    border-radius: 0.25rem;
    margin-bottom: 25px;
    color: var(--dt-very-dark-grayish-blue);

}
